html, body {
   display: flex;
   justify-content: center;
   height: 100%;
}

body, div, form, input {
   padding: 0;
   margin: 0;
   outline: none;
   font-family: Roboto, Arial, sans-serif;
   font-size: 16px;
   color: #666;
}

hr {
   color: #a9a9a9;
   opacity: 0.3;
}

.main-block {
   padding: 0;
   margin: auto;
   border: solid 1px #666;
   text-align: center;
}

header{
   background-color: #ef3829;
   flex: auto;
   padding: 5px 10px;
   display: flex;
   text-align: left;
   justify-content: space-between;
   align-items: center;
}

header img{
   margin-top: -9px;
   width: 60px;
}

header h3{
   color: white;
   font-size: 15px;
}

#content{
   margin: 30px 10px 40px 10px;
}

#content p{
   font-size: 0.9em;
   padding: 10px;
}

form {
   text-align: left;
   margin: 0 30px;
}

fieldset{
   margin-top: 20px;
   border: 1px solid grey;
}

legend{
   font-size: 11px;
   font-weight: 300;
}

input{
   padding: 10px;
   border: none;
}
